USE [master]
GO
/****** Object:  Database [Donate]    Script Date: 6/26/2020 5:53:37 PM ******/
CREATE DATABASE [Donate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Donate', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\Donate.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Donate_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\Donate_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Donate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Donate]
GO
/****** Object:  Table [dbo].[DonationDetails]    Script Date: 6/26/2020 5:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DonorInfo_Id] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[DonationCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DonationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonorInformation]    Script Date: 6/26/2020 5:53:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[ContactNumber] [int] NOT NULL,
	[BloodGroup] [nvarchar](max) NOT NULL,
	[DischargeDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.DonerInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_DonerInfo_Id]    Script Date: 6/26/2020 5:53:37 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonerInfo_Id] ON [dbo].[DonationDetails]
(
	[DonorInfo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonationDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonationDetails_dbo.DonerInfoes_DonerInfo_Id] FOREIGN KEY([DonorInfo_Id])
REFERENCES [dbo].[DonorInformation] ([Id])
GO
ALTER TABLE [dbo].[DonationDetails] CHECK CONSTRAINT [FK_dbo.DonationDetails_dbo.DonerInfoes_DonerInfo_Id]
GO
USE [master]
GO
